body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.container {
    font-size: 30px;
    display: flex;                       
    flex-wrap: wrap;                     
    justify-content: space-around;
    box-sizing: border-box;
}
.cell {
    flex: 0 0 32%;
    height: 30px;    
    border: white solid 2px;
    text-align: center;
    /* padding: 20px; */
}